.APIApp {
    font-family: sans-serif;
    text-align: center;
  }
  
  .imageDog {
    /* height: 50% !important;
    width: 50% !important; */
    margin: 2rem;
  }
  
  .buttonclass {
    margin: 2rem;
  }
  